:root {
  --mainGray: #353c48;
  --secondGray: #4f5467;
  --thirdGray: #3c4452;
}
html {

  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0;
}
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
}
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
}
